.pluseButton {
  width: 150px;
  height: 50px;
  border: none;
  background-color: aquamarine;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
.pluseButton:active {
  background-color: rgba(127, 255, 212, 0.623);
}
